{;; https://github.com/weavejester/cljfmt#formatting-options
 ;; https://github.com/weavejester/cljfmt/blob/master/cljfmt/resources/cljfmt/indents/clojure.clj
 :alias-map {}
 :file-pattern #re "\\.(clj[csx]?|edn|bb)$"
 :extra-indents {#_:sorted
                 >defn [[:inner 0]]
                 >defn- [[:inner 0]]
                 as-> [[:inner 1]]
                 clojure.core/-> [[:block 1]]
                 clojure.core/->> [[:block 1]]
                 comment [[:inner 0]]
                 cond-> [[:block 0]]
                 cond->> [[:block 0]]
                 crypticbutter.snoop/>defn [[:inner 0]]
                 crypticbutter.snoop/>defn- [[:inner 0]]
                 tests [[:block 1]] ;; hyperfiddle.rcf/tests, same as testing
                 #_:extra-indents}

 :function-arguments-indentation :zprint
 :indentation? true
 :indent-line-comments? true
 :insert-missing-whitespace? true
 :remove-consecutive-blank-lines? true
 :remove-multiple-non-indenting-spaces? true
 :remove-surrounding-whitespace? true
 :remove-trailing-whitespace? true
 :sort-ns-references? true}
