# https://github.com/asdf-community/asdf-plugin-manager/releases
asdf-plugin-manager 1.5.0

# https://github.com/babashka/babashka/releases
babashka 1.12.207

# https://github.com/clj-kondo/clj-kondo/releases
clj-kondo 2025.07.28

# https://github.com/clojure/brew-install/releases
clojure 1.12.1.1561

# https://github.com/corretto/corretto-21/releases
java corretto-21.0.8.9.1
