{:paths []

 :deps
 {}

 :aliases
 {:repl
  {:extra-deps {mod/repl {:local/root "mod/repl"}}}

  :lib/all
  {:extra-deps {;; sorted
                pl.rynkowski.clj-gr/aws-api {:local/root "lib/aws-api"}
                pl.rynkowski.clj-gr/aws-api-awyeah {:local/root "lib/aws-api-awyeah"}
                pl.rynkowski.clj-gr/aws-api-cognitect {:local/root "lib/aws-api-cognitect"}
                pl.rynkowski.clj-gr/aws-ssm {:local/root "lib/aws-ssm"}
                pl.rynkowski.clj-gr/bb {:local/root "lib/bb"}
                pl.rynkowski.clj-gr/lang {:local/root "lib/lang"}
                pl.rynkowski.clj-gr/repl-user {:local/root "lib/repl-user"}}}

  :mod/all
  {:extra-deps {mod/repl {:local/root "mod/repl"}}}

  ;; UTILS ALIASES

  :tool/antq
  {:replace-paths []
   :replace-deps {com.github.liquidz/antq {:mvn/version "2.11.1276"}
                  org.slf4j/slf4j-nop {:mvn/version "2.0.17"}}}

  :tool/cljfmt
  {:replace-deps {dev.weavejester/cljfmt {:mvn/version "0.13.1"}}}}}
