{:paths []

 :deps
 {}

 :aliases
 {:repl
  {:extra-deps {mod/repl {:local/root "mod/repl"}}}

  :lib/all
  {:extra-deps {;; sorted
                pl.rynkowski.clj-gr/bb {:local/root "lib/bb"}
                pl.rynkowski.clj-gr/repl-user {:local/root "lib/repl-user"}}}

  :mod/all
  {:extra-deps {mod/repl {:local/root "mod/repl"}}}

  ;; UTILS ALIASES

  :tool/antq
  {:replace-paths []
   :replace-deps {com.github.liquidz/antq {:mvn/version "2.8.1173"}
                  org.slf4j/slf4j-nop {:mvn/version "2.0.11"}}}

  :tool/cljfmt
  {:replace-deps {dev.weavejester/lein-cljfmt {:mvn/version "0.12.0"}}}}}
