{:paths ["lib/main/src"]

 :deps {;; sorted
        com.cognitect.aws/endpoints {:mvn/version "871.2.33.0"}
        com.cognitect.aws/ssm {:mvn/version "871.2.32.5" :aws/serviceFullName "Amazon Simple Systems Manager (SSM)"}
        pl.rynkowski.clj-gr/aws-api #:git{:url "https://github.com/rynkowsg/clj-gr.git" :tag "v0.0.8" :sha "a08cdf8e302a61116c17f013872bcefe7158e7bf" :deps/root "lib/aws-api"}}

 :aliases
 {:local {:override-deps {pl.rynkowski.clj-gr/aws-api {:local/root "../../lib/aws-api"}}}}}

;; https://github.com/cognitect-labs/aws-api/blob/main/latest-releases.edn
