{:paths ["lib/main/src"]

 :deps {;; sorted
        integrant/integrant {:mvn/version "0.13.1"}
        org.clojure/clojure {:mvn/version "1.12.1"}
        pl.rynkowski.clj-gr/aws-ssm {:local/root "../../lib/aws-ssm"}}}
