{:paths ["lib/main/src"]

 :deps {;; sorted
        integrant/integrant {:mvn/version "0.13.1"}
        org.clojure/clojure {:mvn/version "1.12.1"}
        pl.rynkowski.clj-gr/aws-ssm {:git/url "https://github.com/rynkowsg/clj-gr.git" :git/tag "v0.0.1" :git/sha "f5e41939e7101f7e128f3ba5cb689ac8cc764714" :deps/root "lib/aws-ssm"}}

 :aliases
 {:local {:override-deps {pl.rynkowski.clj-gr/aws-ssm {:local/root "../../lib/aws-ssm"}}}}}
