{:deps
 {pl.rynkowski.clj-gr/lang {:local/root "."}
  pl.rynkowski.clj-gr/bb {:local/root "../../lib/bb"}}

 :tasks
 {:requires ([pl.rynkowski.clj-gr.bb :refer [print-exec]]
             [clojure.pprint :refer [pprint]])

  test {:depends [test:bb test:clj]}
  test:bb {:task (let [test-deps {:deps (-> (slurp "deps.edn") read-string :aliases :test :extra-deps)}]
                   (shell (format "bb -Sdeps '%s' -m kaocha.runner/-main --config-file tests.edn" test-deps)))}
  test:clj (print-exec '(clojure "-M:test -m kaocha.runner --config-file tests.edn") *command-line-args*)
  #_:tasks}}
